$first-column-width: 40%;
.grid {
    margin: 0;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    height: 1200px;
    width: 1600px;
    padding: 0;
    overflow: hidden;
    display: block;
}

.block {
    padding: 2rem;
    overflow: hidden;
    background-color: #ffffff;
}

.time_and_date {
    position: absolute;
    width: $first-column-width;
    height: 33%;
    left: 0;
    top: 0;
}

.calendar {
    position: absolute;
    width: $first-column-width;
    height: 100% - 33%;
    left: 0;
    top: 33%;
}

.current_weather {
    position: absolute;
    width: 100% - $first-column-width;
    height: 22.5%;
    left: $first-column-width;
    top: 0;
}

.today_forecast {
    position: absolute;
    width: 100% - $first-column-width;
    height: 22.5%;
    left: $first-column-width;
    top: 22.5%;
}

.power {
    position: absolute;
    width: 25%;
    height: 25%;
    left: 75%;
    top: 50%;
}

.coming_days {
    position: absolute;
    width: 100% - $first-column-width;
    height: 55%;
    left: $first-column-width;
    top: 45%;
}