@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800");

$font_weight: 400;
$bold_weight: 600;
$text_huge: 170px;
$text_large: 75px;
$text_subheader: 25px;
$text_size: 20px;
$text_small: 14px;
$grid_margin: 15px;
$margin: 10px;
$white: #fdf6e3;
$gray: #444444;

* {
  box-sizing: border-box;
}

body {
  cursor: none;
  display: grid;
  grid-template-columns: 35% 22% 1fr;
  grid-template-rows: 30% 55% 1fr;
  row-gap: $grid_margin;
  column-gap: $grid_margin;
  grid-template-areas:
    "time_and_date current_weather calendar"
    "weather_nowcast weather_nowcast calendar"
    "bottom-boxes bottom-boxes calendar";
  font-family: "Montserrat", sans-serif;
  font-weight: $font_weight;
  font-size: $text_size;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  height: 100vh;
  width: 100vw;
  padding: $grid_margin;
  margin: 0;
background-color: $white;
}

clock,
currentweather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#now_time,
#current_temperature {
  align-items: center;
  display: flex;
  flex: 3;
  font-size: $text_huge;
  font-weight: $bold_weight;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#date_week,
#aux-weather-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}

clock {
  grid-area: time_and_date;
  #date_week {
    #now_date {
      font-size: $text_large;
    }
    #now_week {
      margin-top: 0.5em;
    }
  }
}

currentweather {
  grid-area: current_weather;
}

calendar {
  grid-area: calendar;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  day {
    .dateHeader {
      align-items: center;
      border-bottom: 1px solid $gray;
      display: flex;
      font-size: $text_subheader;
      justify-content: space-between;
      margin-bottom: 0.25rem;
      margin-top: 0.5rem;
      width: 100%;
      .headerWeather {
        align-items: center;
        display: flex;
        .headerWeatherPrepArea {
          display: flex;
          margin-right: 0.2em;
          .weatherPrep {
            color: grey;
            display: flex;
            flex: 1;
            .headerWeatherIconPrep {
              height: $text_subheader;
              margin: 0 0.25em;
              width: $text_subheader;
            }
          }
        }
        .headerWeatherTempIcon {
          height: $text_subheader;
          opacity: 0.4;
          width: $text_subheader;
        }
      }
    }
    .event {
      display: flex;
      .event-time {
        color: $gray;
        display: flex;
        justify-content: flex-start;
        margin-right: 10px;
        width: 135px;
        span {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .event-time-end,
        .event-time-start {
          width: 60px;
        }
        .event-time-spacer {
          width: 20px;
        }
      }
    }
  }
}

nowcast {
  grid-area: weather_nowcast;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.danger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.5em;
  h3,
  p {
    margin-top: 0;
  }
}

footer {
  grid-area: bottom-boxes;
  display: flex;
}

#power-cabin,
#power-home,
#bane,
#cooler {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  forecast {
    width: 9%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $margin 1% 0 $margin;
    .forecast_prob {
      color: $gray;
      font-size: $text_small;
      text-align: center;
    }
  }
}

.weather_icon {
  height: $text_large;
  width: $text_large;
}

.calendaricon {
  height: $text_small;
  margin-right: 0.3em;
  width: $text_small;
}
