@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600");
$text_huge: 220px;
$text_xlarge: 125px;
$text_large: 75px;
$text_subheader: 25px;
$text_size: 20px;
$text_small: 14px;
$margin: 10px;
$gray: #888888;
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: calc($margin * 0.66);
}

.time_and_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    color: #222222;
    .now_time {
        font-size: $text_huge;
        font-weight: 600;
    }
    .now_date {
        font-size: $text_large;
    }
}

.current_weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    .current_temperature {
        font-size: $text_xlarge;
    }
}

.today_forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #aaaaaa;
}

.fact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bababa;
    align-items: center;
}

.coming_days {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    padding: 2rem;
    .day {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.25rem;
        .date {
            font-size: $text_subheader;
            font-weight: bold;
        }
    }
}

.weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .forecast_point {
        display: flex;
        flex-direction: column;
        margin: $margin;
        align-items: center;
        justify-content: center;
        .forecast_prob {
            color: $gray;
        }
        .weather_symbol {
            .weather_icon {
                width: $text_large;
                height: $text_large;
            }
        }
    }
}

.battery {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.events {
    .event {
        display: flex;
        flex-direction: row;
        .event-time {
            color: $gray;
            display: flex;
            width: 60px;
            margin-right: 10px;
            justify-content: flex-end;
        }
    }
}