@use 'sass:math';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800");
$text_huge: 200px;
$text_xlarge: 100px;
$text_large: 75px;
$text_subheader: 25px;
$text_size: 20px;
$text_small: 12px;
$margin: 10px;
$gray: #888888;
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: calc($margin * 0.66);
}

$first-column-width: 40%;
$second-column-width: 17.5%;
.grid {
    margin: 0;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    height: 1200px;
    width: 1600px;
    padding: 0;
    overflow: hidden;
    display: block;
}

.block {
    padding: 2rem;
    overflow: hidden;
    // background-color: #ffffff;
    opacity: 1;
}

.battery {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.time_and_date {
    position: absolute;
    width: $first-column-width;
    height: 33%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .now_time {
        font-size: $text_huge;
        font-weight: 600;
    }
    .now_date {
        font-size: $text_large;
    }
    .now_week {
        margin-top: 0.5em;
    }
}

.calendar {
    position: absolute;
    width: $first-column-width;
    height: 100% - 33% - 10%;
    left: 0;
    top: 33%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .calendar_day {
        .date {
            margin-top: 0.5rem;
            margin-bottom: 0.25rem;
            border-bottom: 1px solid $gray;
        }
        .event {
            display: flex;
            flex-direction: row;
            .event-time {
                color: $gray;
                display: flex;
                width: 60px;
                margin-right: 10px;
                justify-content: flex-end;
            }
        }
    }
}

.current_weather {
    position: absolute;
    width: 100% - $first-column-width;
    height: 23%;
    left: $first-column-width;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .current_weather_block {
        &.aux-weather-info {
            flex-direction: column;
        }
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .current_temperature {
            font-size: $text_xlarge;
            font-weight: 600;
        }
    }
}

.weather_nowcast {
    position: absolute;
    width: 100% - $first-column-width;
    height: 40%;
    left: $first-column-width;
    top: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.power {
    position: absolute;
    width: math.div($first-column-width, 2);
    height: 10%;
    left: 0;
    top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bane {
    position: absolute;
    width: math.div($first-column-width, 2);
    height: 10%;
    left: math.div($first-column-width, 2);
    top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.coming_days {
    position: absolute;
    width: 100% - $first-column-width;
    height: 45%;
    left: $first-column-width;
    top: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    .day {
        display: flex;
        flex-direction: column;
        margin: 0 15px 2px 15px;
        .date {
            font-size: $text_subheader;
            font-weight: bold;
        }
    }
}

.today_forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .forecast_point {
        display: flex;
        flex-direction: column;
        margin: $margin;
        align-items: center;
        justify-content: center;
        .forecast_prob {
            color: $gray;
            font-size: $text_small;
        }
        .weather_symbol {
            .weather_icon {
                width: $text_large;
                height: $text_large;
            }
        }
    }
}