{% if day.birthdays is not empty or day.events is not empty or day.daily_forecast is not empty %}

<div class="calendar_day">
    <div class="dateHeader">{{ day.date }}
      <div class="headerWeather">
        {% if day.daily_forecast is not empty %}  {{ day.daily_forecast.minTemp|round }}&deg; {{ day.daily_forecast.maxTemp|round }}&deg; 
        <img class="headerWeatherIcon" src="weathericon/png/{{ day.daily_forecast.symbol }}.png" /> 
        {% endif %} 
      </div>
    </div>
    <div class="birthdays">
      {% for birthday in day.birthdays %} 
        <div class="birthday">{{ birthday }}</div>
      {% endfor %}
    </div>
    <div class="events">
        {% for event in day.events %} {{ include('event.html') }} {% endfor %}
    </div>
</div>

{% endif %}