<!DOCTYPE html>
<html>
  <head>
    <title>Tellulf v6</title>
    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3"></script>
    <script src="js/datetime.js"></script>
  </head>
  <body>
    <div id="content">
      <div id="time_and_date">
        <div id="now_date"></div>
        <div id="now_time"></div>
      </div>
      <div id="current_weather">
        <div class='current_temperature'>{{ current_temperature }}</div>
        <div class='current_temperature'><img src="weathericon/png/{{ current_weather_icon }}.png" /></div>
      </div>
      <div id="today">
        
      </div>
      <div id="coming_days">
        {% for day in days %}
          {{ include('day.html') }}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
