<!DOCTYPE html>
<html lang="nb-NO">

<head>
    <title>Tellulf v6</title>
    <link rel="icon" href="data:," />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/jquery@3"></script>
    <script src="js/tellulf.js"></script>
    <link rel="stylesheet" href="css/tellulf.css" />
</head>

<body>
    <div class="content" id="content">
        {{ include('today.html') }}
        <div class="coming_days" id="coming_days">
            {% for day in days %} {{ include('day.html') }} {% endfor %}
        </div>
    </div>
    <div class="battery"></div>
</body>

</html>