<!DOCTYPE html>
<html lang="nb-NO">

<head>
    <title>Tellulf v6</title>
    <link rel="icon" href="data:," />
    <script
      src="https://js.sentry-cdn.com/ab9aa32b39ab4fc88b0500959309d66a.min.js"
      crossorigin="anonymous"
     ></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3"></script>
    <script src="js/tellulf.js"></script>
    <link rel="stylesheet" href="css/tellulf.css" />
</head>

<body class="grid">

    <div class="block time_and_date">{% include("clock.html") %}</div>
      <div class="block calendar" id="calendar">
          {% for day in days|slice(0, 10) %} {{ include('calendar_day.html') }} {% endfor %}
      </div>

      <div class="block power">{% include("power.html") %}</div>
      <div class="block bane"></div>

      <div class="block current_weather">
        {% include("current_weather.html") %}
      </div>

      <div class="block weather_nowcast">{% include("detailed_forecast.html") %}</div>

</body>

</html>